{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content %}
{#    {{- content -}}#}
    <div class="staff-col pic">{{ content.user_picture }}</div>
    <div class="staff-col main">
      <h2>{{ content.field_first_name|render|trim|striptags }} {{ content.field_last_name|render|trim|striptags }}</h2>
      <div class="staff-info">
        {% if content.field_job_title %}
          <span class="staff-job-title">{{ content.field_job_title|render|trim|striptags }}</span>
        {% endif %}
        {% if content.field_company %}
          <span class="staff-company"> {{ content.field_company|render|trim|striptags }}</span>
        {% endif %}
      </div>
    </div>
    <div class="staff-col viewuser"><a href="/user/{{ user.id.0.value }}">{{ 'VIEW DETAILS'|t }}</a></div>
  {% endif %}
</article>
